<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WebApp</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <% for(var i=0; i < htmlWebpackPlugin.files.css; i++) { %>
        <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet" />
        <% } %> <% for(var i=0; i < htmlWebpackPlugin.files.chunks; i++) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[i].entry %>" defer></script>
        <% } %>
    </head>
    <body>


        <header class="header">
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <div class="container">
                  <a class="navbar-brand">Navbar</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" data-section="HOME">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-section="RANKING">Classifica</a>
                        </li>
                    </ul>
                </div>
              </nav>
        </header>
        
        
        <main class="main">
            <div class="container" id="main-container"></div>
        </main>


    </body>
</html>
