.main {

    .grid-container {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". . . ."
          ". . . .";

          .card {
            height: 300px;
            margin: 0 10px 30px;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                //opacity: 0.6;
            }

            .card-body {
                position: absolute;
                display: none;
                width: 100%;
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                color: white;
                font-size: 17px;

                h4 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }

            .card-layer {
                height: 100%;
                width: 100%;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #2b2d2f;
                color: white;
                opacity: 0.5;
            }

            &:hover .card-layer, &:hover .card-body {
                display: block;
            }


        }
      }

      @media screen and (max-width: 992px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
              ". . ."
              ". . .";
          }
      }

      @media screen and (max-width: 768px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "."
                ".";

                .card {
                    height: 600px;

                    .card-body {
                        //display: block;
                        font-size: 20px;

                        h4 {
                            font-size: 30px;
                        }
                    }

                    /*
                    .card-layer {
                        display: block;
                    }
                    */

                }
            }
      }

}