.main {
    
    .container {
        .card-group {
            margin-top: 45px;
            display: flex;
            flex-wrap: wrap;

            .card {
                height: 300px;
                width: calc(25% - 20px);
                margin: 0 10px 30px;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    opacity: 0.6;
                }

                .card-body {
                    position: absolute;
                    width: 100%;
                    top: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    color: black;
                    font-size: 17px;

                    h4 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }

            }
        }
    }

}