.header {
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-list {
        display: flex;

        .nav-link {
            margin-left: 10px;
        }

        .nav-link:hover {
            text-decoration: underline;
        }

        .nav-link.active {
            text-decoration: underline;
        }

    }
}