.header {
    background-color: #2b2d2f;
    
    .container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .navbar-brand {
            text-transform: uppercase;
        }

        ul {
            display: flex;

            li {
                color: lightgrey;
                margin-left: 10px;

                a:hover {
                    cursor: pointer;
                }

                .nav-link.active {
                    color: white;
                }
            }

            i {
                display: none;
            }

            @media screen and (max-width: $breakpoint-mobile) {
                li {
                    display: none;
                }

                i {
                    display: inline;
                    font-size: 20px;
                }
            }

        }
    }

}